.collaborator-photo {
  display: none;
}

.one-collaborator {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (min-width: 750px) {
  .collaborator-photo {
    display: block;
  }
}
