// Specific CSS for your home-page
.landing-page-content {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  // justify-content: center;
}

.outside-banner-page {
  display: flex;
  flex-direction: column;
}

.icons-card {
  margin-top: 20px;
  font-size: 30px;
  background: white;
  // height: 200px;
  padding: 40px 20px;
  p {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  .icon {
    font-size: 36px;
  }
}

.wrapper-white {
  background-color: white;
}

.wrapper-gray {
  background-color: lightgray;
}

.wrapper-margin {
  margin-bottom: 30px;
}

.categories {
  margin-top: 50px;
}

.icons-card:hover {
  .icon-content {
    p {
      text-decoration: underline solid white;
      color: #276c82;
    }
  }
}

.icon-content {
  p {
    color:black;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 22px;
  }
}

