.publication-link {
  padding: 5px 25px;
  width: 100%;
  p {
    color: black;
  }
}

.publication-link:hover {
  background-color: rgba(44, 108, 129, 0.05);
  p {
    color: black;
  }
}

.publication-link:hover > * {
  text-decoration: none;
}

.icon-container {
  display: flex;
}
