.publication-link {
  padding: 5px 25px;
  width: 100%;
  p {
    color: black;
  }
}

.publication-link:hover {
  background-color: rgba(44, 108, 129, 0.05);
  text-decoration: none;
  p {
    color: black;
    text-decoration: none;
  }
}
