.story-image {
  height: 150px;
  width: 100%;
}

.one-story {
  width: 100%;
}

.title {
  font-size: 20px;
}

.published_at {
  color: lightgray;
  font-size: 14px;
}

.divider-stories {
  border-top: 1px solid lightgray;
  margin: 60px 300px;
}
