.one-collaborator {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.one-content {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .one-collaborator {
    flex-direction: row;
    align-items: flex-start;
  }
  .collaborator-photo {
    margin-right: 40px;
  }
}
