#icon {
  font-size: 40px;
}

.funding-image {
  height: 170px;
  width: 210px;
  object-fit: contain;
}

.icon-card {
  height: 110px;
  padding: auto;
}

@media screen and (min-width: 764px) {
  .icon-card {
  height: 190px;
  }
}
