footer {
  p {
    color: white;
    font-size: 12px;
  }
}

.link-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // padding: 0 30px;
  i {
    font-size: 20px;
    color: white;
  }
  i:hover {
    color: lightgray;
  }
}

.logo-img {
  // display: none;
  height: 70px;
}
.text-container {
  // display: none;
}

.logo-container, .text-container {
  display:none;
}

@media screen and (min-width: 990px) {
  footer {
    padding-top: 20px;
  }
  .logo-container, .text-container {
    display:block;
  }
}
