#footer {
  width: 100vw;
  background-color: #4f4f4f;
  height: 100px;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}

.link-container {
  display: flex;
  // justify-content: flex-end;
  // align-items: center;
  margin: 0 30px;
  i {
    margin: 15px;
    font-size: 20px;
    color: white;
  }
  i:hover {
    color: lightgray;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  div {
    margin-left: 30px;
    p {
      color: white;
      font-size: 12px;
    }
  }
}

.logo-img {
  height: 70px;
}
