<div class="admin-banner">
  <h2 class="text-center">Ciao Robi - This is your admin session</h2>
  <div class="button-container">
    <%= link_to 'Log Out', destroy_user_session_path, class: " btn btn-big btn-pink", method: :delete%>
  </div>
</div>

