.objects-container {
  margin-top: 80px;
  h2 {
    margin-bottom: 30px;
  }
}

.one-object {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.object-header {
  display: flex;
}

.objects-header {
  display: flex;
  justify-content: space-between;
}

.object-content {
  flex: 1 1 auto;
}

.avatar {
  border-radius: 50%;
}

.divider-stories {
  border-top: 1px solid lightgray;
  margin: 60px 15%;
}

.divider-page {
  border-top: 1px solid lightgray;
  margin: 90px 15%;
}
