h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
  margin-bottom: 0px !important;
}

h3 {
  margin: 0px;
}

p {
  margin: 0px !important;
}

.margin-top-big {
  margin-top: 100px;
}

.margin-top {
  margin-top: 20px !important;
}

.margin-left {
  margin-left: 40px !important;
}

.margin-right {
  margin-right: 40px !important;
}


.margin-bottom {
  margin-bottom: 20px !important;
}

.margin-top-big {
  margin-top: 100px !important;
}

.margin-bottom-big {
  margin-bottom: 100px;
}

.padding-top {
  padding-top: 20px;
}

.padding-left-right {
  padding-left: 40px;
  padding-right: 40px;
}

.margin-left-right {
  margin-left: 80px;
  margin-right: 80px;
}

.padding {
  padding: 10px 30px;
}
