<div class="banner-pages"
  style="background-image: linear-gradient(-225deg, rgba(4, 43, 104, 0.7) 30%, rgba(4, 43, 104, 0.5) 50%),
         url('<%= cl_image_path Picture.last.photo %>'); background-size: cover; background-position-y: 47%;">
  <div class="banner-content-pages">
    <h1><strong>Contact</strong></h1>
  </div>
  <% if current_user && current_user.id == 1 %>
    <p class="edit_picture_icon">
    <%= link_to edit_picture_path(Picture.last) do %><i class="far fa-edit"></i>
      <% end %>
    </p>
  <% end %>
</div>

<div class="wraper-white">
  <div class="container">
    <div class="objects-container">
      <h2>Contact information</h2>
      <div class="image-text-container">
        <%= image_tag asset_path('Maso2.JPG'), class:"contact-image margin-top" %>
        <div class="adress margin-left margin-top">
          <p>University of Trento</p>
          <p>CIMeC - Center for Mind/Brain Sciences</p>
          <p>via delle Regole, 101</p>
          <p>Trento, 38122 - ITALY</p>
          <br>
          <p><i class="fas fa-phone"></i> 0461 282778</p>
          <p><i class="fas fa-at"> </i> roberto.bottini@unitn.it</p>
        </div>
      </div>
    </div>
  </div>
</div>
