<!-- <div class="banner-pages"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%#= cl_image_path Picture.last.photo %>')">
  <div class="banner-content-pages">
    <h1><strong>Contact</strong></h1>
  </div>
  <%# if current_user && current_user.id == 1 %>
    <p class="edit_picture_icon">
    <%#= link_to edit_picture_path(Picture.last) do %><i class="far fa-edit"></i>
      <%# end %>
    </p>
  <%# end %>
</div> -->

<div class="wraper-white">
  <div class="container">
    <div class="objects-container">
      <h2>Contact information</h2>
      <div class="adress">
        <p>University of Trento</p>
        <p>Mind/Brain center - CIMeC</p>
        <p>via delle Regole, 101</p>
        <p>Trento, 38122 - IT</p>
      </div>
    </div>
  </div>
</div>

<% if !user_signed_in? %>
<%= link_to "Admin", new_user_session_path, class: "btn btn-hidden" %>
<% end %>
