<div class="banner-pages"
  style="background-image: linear-gradient(-225deg, rgba(4, 43, 104, 0.7) 30%, rgba(4, 43, 104, 0.5) 50%),
         url('<%= cl_image_path @image %>'); background-size: cover; background-position-y: 47%;">
  <div class="banner-content-pages">
    <h1><strong><%= Picture.last.page %></strong></h1>
  </div>
  <% if current_user && current_user.id == 1 %>
    <p class="edit_picture_icon">
    <%= link_to edit_picture_path(Picture.last) do %><i class="far fa-edit"></i>
      <% end %>
    </p>
  <% end %>
</div>

<div class="container">
  <div class="objects-container margin-bottom-footer">
    <h2>Contact information</h2>
<!--     <div class="row">
      <div class="col-xs-12 col-md-8"> -->

        <div class="image-text-container">
          <%= image_tag asset_path('Maso2.JPG'), class:"contact-image margin-top" %>
          <div class="padding-left margin-top">
            <div class="one-block">
              <i class="fas fa-map-marker-alt contact-icon"></i>
              <div class="adress">
                <p> University of Trento</p>
                <p>CIMeC - Mind/Brain Sciences Center</p>
                <p>via delle Regole, 101</p>
                <p>Trento, 38122 - ITALY</p>
              </div>
            </div>
            <br>
            <div class="one-block">
              <i class="fas fa-phone contact-icon"></i>
              <p>0461 282778</p>
            </div>
            <div class="one-block">
              <i class="fas fa-envelope contact-icon"></i>
              <p> &#114;&#111;&#098;&#101;&#114;&#116;&#111;&#046;&#098;&#111;&#116;&#116;&#105;&#110;&#105;<i class="fas fa-at"></i>&#117;&#110;&#105;&#116;&#110;&#046;&#105;&#116;</p>
            </div>
          </div>
        </div>
<!--       </div>
    </div> -->
  </div>
</div>

