<div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(4, 43, 104, 0.7) 30%, rgba(4, 43, 104, 0.5) 50%), url('<%= asset_path('brain.png') %>'); background-size: cover;
  background-position-y: 33%;">
  <div class="banner-content-home">
    <h1><strong>This is your landing phrase!</strong></h1>
  </div>
</div>


<div class="container">
  <div class="wrapper-white margin-top-big text-center">
    <h2>We do fundamental research in psychology and neuroscience to understand how the mind represents knowledge.</h2>
  </div>

  <div class="categories">
    <div class="row">
      <% @researches.each do |research| %>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <%=  link_to researches_path, class:"btn-icons" do %>
          <div class="icons-card">
            <div class="icon-content">
              <%= tag.p("", class: @icons[research.id-1]) %>
              <p><%= research.title %></p>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>

      <%# end row %>
    </div>

  <% # end category div %>
  </div>

</div>
