<div class="banner-pages"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path Picture.fifth.photo %>')">
  <div class="banner-content-pages">
    <h1><strong>News</strong></h1>
  </div>
  <% if current_user && current_user.id == 1 %>
    <p class="edit_picture_icon">
    <%= link_to edit_picture_path(Picture.fifth) do %><i class="far fa-edit"></i>
      <% end %>
    </p>
  <% end %>
</div>

