.banner-home {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  position: abolute;
}

.banner-content-home {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner-pages {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  position: abolute;
}

.banner-content-pages {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.edit_picture_icon {
  position: relative;
  bottom: 50px;
  font-size: 30px;
  padding-left: 15px;
  a {
    color: white;
  }
  a:hover {
    color: #2c6c81;
  }
}


