.banner-home {
  height: 500px;
}

.banner-content-home {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner-pages {
  height: 250px;
}

.banner-content-pages {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
