.btn-big-wide {
  flex: 0 1 auto;
  font-size: 18px;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.btn-big {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.428571429;
  border-radius: 5px;
}


.btn-pink {
  background-color: #c15b7f;
  color: white;
  opacity: 1;
}

.btn-blue {
  background-color: #45608d;
  color: white;
  opacity: 1;
}

.btn-blue:hover, .btn-pink:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

.btn-hidden {
  color: #686767;
  font-size: 8px;
  margin-top: 0px;
  padding-top: 0px;
}

.btn-hidden:hover {
  color: #c15b7f;
  text-decoration: none;
}

.btn-icon {
  text-decoration: none;
  margin-left: 15px;
  color: #45608d;
}

.btn-icon:hover {
  margin-left: 15px;
  color: #c15b7f;
}

.btn-icon-white {
  text-decoration: none;
  margin-left: 5px;
  color: white;
}

.btn-icon-white:hover {
  margin-left: 5px;
  color: lightgray;
  text-decoration: none;
}

.btn-edit_picture {
  // takes position down-left compared to parent
  position: relative;
  bottom: 50px;
  font-size: 30px;
  padding-left: 15px;
  color: white;
}

.btn-edit_picture:hover {
  color: lightgray;
}

