.btn-big {
  flex: 0 1 auto;
  border-radius: 30px;
  font-size: 18px;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.btn-small {
  flex: 0 0 80px;
  padding: 8px 15px;
  border-radius: 30px;
  font-size: 12px;
  text-decoration: none;
  margin-left: 20px;
  text-align: center;
}

.btn-pink {
  background-color: #c15b7f;
  color: white;
  opacity: 1;
}

.btn-pink:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

.btn-blue {
  background-color: #45608d;
  color: white;
  opacity: 1;
}

.btn-blue:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

.btn-hidden {
  color: #686767;
  font-size: 8px;
  margin-top: 0px;
  padding-top: 0px;
}

.btn-hidden:hover {
  color: #c15b7f;
  text-decoration: none;
}

.btn-icon {
  text-decoration: none;
  margin-left: 15px;
  color: #45608d;
}

.btn-icon:hover {
  margin-left: 15px;
  color: #c15b7f;
}

.btn-icon-white {
  text-decoration: none;
  margin-left: 15px;
  color: white;
}

.btn-icon-white:hover {
  margin-left: 15px;
  color: #45608d;
}
