.btn-big {
  flex: 0 1 auto;
  border-radius: 30px;
  font-size: 18px;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.btn-small {
  flex: 0 0 80px;
  padding: 8px 15px;
  border-radius: 30px;
  font-size: 12px;
  text-decoration: none;
  margin-left: 20px;
  text-align: center;
}

.btn-blue {
  background-color: #276c82;
  color: white;
  opacity: 1;
}

.btn-blue:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

.btn-hidden {
  color: lightgray;
}

.btn-hidden:hover {
  color: #276c82;
}

.btn-icon {
  margin-left: 15px;
  color: #276c82;
}

.btn-icon:hover {
  margin-left: 15px;
}
