// Devise forms
#user_email, #user_password {
  width: 100%;
}

// Research forms
#research_category, #research_icon, #research_title {
  width: 100%;
}

#research_descr_one, #research_descr_two, #research_descr_three {
  height: 115px;
  width: 100%;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  padding: .5rem .75rem;
}

// Pubication forms
#publication_title, #publication_authors, #publication_journal, #publication_year, #publication_url {
  width: 100%;
}

// People forms
#collaborator_first_name, #collaborator_last_name, #collaborator_position, #collaborator_avatar, #collaborator_photo, #collaborator_alumni {
  width: 100%;
}

 #collaborator_description_one, #collaborator_description_two {
  width: 100%;
  height: 80px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  padding: .5rem .75rem;
 }

 #collaborator_current_position {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  padding: .5rem .75rem;
 }

// story forms
#story_title, #story_photo {
  width: 100%;
}

#story_content {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  padding: .5rem .75rem;
}

//
#picture_page, #picture_photo, #picture_focus_picture {
  width: 100%;
}

// labs forms
#lab_title, #lab_university, #lab_adress, #lab_phone, #lab_email {
  width: 100%;
}

input {
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  padding: .5rem .75rem;
}
