.white-wraper {
  height: 100vh;
  background: grey;
}

.banner-form {
  height: 100vh;
  padding-top: 170px;
}

.white-box {
  background-color: white;
}

.form-box {
  border-radius: 3px;
  padding: 20px 20px;
}


label {
  display: block !important;
  padding-top: 20px;
}
